@{
    ViewBag.Title = "Home Page";
}

<h1>WELCOME TO LUCRO ANALYZER</h1>

<p>This is a tool with a generic data model and generic user interface to upload and analyze any tabular data.</p>

<h4>CHARACTERISTICA</h4>

<ul>
    <li>Handles all types of alphanumeric tables</li>
    <li>No set-up, configuration is needed.</li>
    <li>Generic data model. All data is stored using the same data model</li>
    <li>Generic user interface. All data is analyzed using the same user interface</li>
</ul>

